tabbar {
  margin-bottom: -16px;
  margin-top: -16px;
}

tabbar tabbox {
  transform: translateY(-8px);
}

tabbar tabbox button {
  min-height: 20px;
  min-width: 20px;
}

tab {
  box-shadow: inset 0px 5px 0px 1px var(--ghostty-fg);
  border-radius: 0px;
}

revealer > box {
  margin: 0px;
}
