[Desktop Entry]
Exec=PROTON_WAYLAND_ENABLE=1 WINEPREFIX="/home/lorkas/Games/aotr-fix" PROTONPATH="/nix/store/a3wpj2vq8fphzxvi3ri45majbbmphy3x-proton-ge-custom/bin" umu-run "/home/lorkas/Games/aotr-fix/drive_c/AgeoftheRing/AotR_Launcher.exe"
Name=Age of the Ring
Path=$HOME/Games
Terminal=false
Type=Application
Version=1.5
