[Desktop Entry]
Exec=PROTON_WAYLAND_ENABLE=1 WINEPREFIX="/games/old_edain" PROTONPATH="/nix/store/a3wpj2vq8fphzxvi3ri45majbbmphy3x-proton-ge-custom/bin" umu-run "/games/old_edain/drive_c/RotWK/lotrbfme2ep1.exe"
Name=Edain 3.8.1
Path=/games
Icon=/games/old_edain/drive_c/proton_shortcuts/icons/50x50/apps/ECB5_edainmodstarter.0.png
Terminal=false
Type=Application
Version=1.5
