Config(
  // Absolute(n): The absolute value in pixels
  // Fraction(n): A fraction of the width or height of the full screen (depends on exclusive zones and the settings related to them) window respectively
  x: Fraction(0.5),
  y: Absolute(0),
  width: Absolute(800),
  height: Absolute(1),
  hide_icons: false,
  ignore_exclusive_zones: false,
  layer: Overlay,
  hide_plugin_info: false,
  close_on_click: true,
  show_results_immediately: false,
  max_entries: None,

  keybinds: [
    Keybind(
      key: "Return",
      action: Select,
    ),
    Keybind(
      ctrl: true,
      key: "p",
      action: Up,
    ),
    Keybind(
      ctrl: true,
      key: "n",
      action: Down,
    ),
    Keybind(
      key: "ISO_Left_Tab",
      action: Up,
      shift: true,
    ),
    Keybind(
      key: "Tab",
      action: Down,
    ),
    Keybind(
      key: "Escape",
      action: Close,
    ),
  ],
)
