window {
  background: transparent;
}

box.main {
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid @accent_color;
  background-color: @theme_bg_color;
  box-shadow: 0 0 5px black;
}

text {
  min-height: 30px;
  padding: 5px;
  border-radius: 5px;
  color: @theme_fg_color;
}

.matches {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

box.plugin:first-child {
  margin-top: 5px;
}

box.plugin.info {
  min-width: 200px;
}

list.plugin {
  background-color: rgba(0, 0, 0, 0);
}

label.match {
  color: @theme_fg_color;
}

label.match.description {
  font-size: 10px;
  color: @theme_unfocused_text_color;
}

label.plugin.info {
  font-size: 14px;
  color: @theme_fg_color;
}

.match {
  background: transparent;
}

.match:selected {
  border-left: 4px solid @accent_color;
  background: transparent;
  animation: fade 0.1s linear;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
