Config(
  desktop_actions: false,
  max_entries: 5,
  hide_description: false,
	preprocess_exec_script: Some("anyrun-prep"),
  terminal: Some(Terminal(
    command: "ghostty",
    args: "-e {}",
  )),
)
